---
layout: react
title: React.js Day
ttl: React.js Day
conf_data: "VERONA, 30 OTTOBRE 2015"
cfp: true
cfp_url: https://docs.google.com/a/grusp.org/forms/d/1Mq6ZJ1N2TaNrLk7e_X1OhH2mKQHKCnlZTgdRvbmc48Q/viewform
speakers: false
cfs: true
where: false
tickets: true
tickets_url: https://www.eventbrite.com/e/reactjs-day-2015-tickets-17120086640
---

{% include section-newsletter.html %}
{% include section-contents.html %}

{% if page.cfp %} {% include section-cfp.html %} {% endif %}
{% if page.tickets %} {% include section-tickets.html %} {% endif %}
{% if page.speakers %} {% include section-speakers.html %} {% endif %}

{% if page.where %}
{% capture place %}{{'places/'}}{{page.where}}{{'.html'}}{% endcapture %}

{% include {{place}} %}
{% endif %}
{% include section-sponsors.html %}
