<a name="info"></a>
<section class="alpha_14">
<div class="container group">

  <div class="column_6 centered">
    <h3 class="center">La conferenza</h3>


    <p>React.js è la libreria JavaScript realizzata da Facebook e Instagram per creare interfacce riusabili e performanti.</p>

    <p>Introducendo nuovi paradigmi di sviluppo e best practices nell'ambito Front-end, raccoglie una numerosa e attiva community di sviluppatori.</p>

    <p>In seno al <a href="http://www.jsday.it" target="_blank">JsDay</a> nasce la prima giornata dedicata a React.js!</p>

	<p>Con una formula leggera, che prevede talk in italiano di diversa complessità durante la giornata verranno trattati temi interenti allo sviluppo con React.js.</p>

	<p>La conferenza è organizzata dal <a href="http://grusp.it" target="_blank" title="GrUSP">GrUSP</a> con la collaborazione di <a href="http://www.fevr.it" target="_blank" title="Front-enders Verona">Front-enders Verona</a>.</p>

	<p>Rimani informato ed <a href="http://eepurl.com/rCZZT" target="_blank">iscriviti alla nostra newsletter</a></p>
  </div>


  <div class="clear"></div>
</div>
<div class="separator"></div>
</section>